.switch-button{
    background-color: white;
    border-radius: 30px;
    font-weight: 400;
    justify-content: space-between;
    /* position: fixed; */
    color: rgba(85, 0, 0);
}

.blog-text{
    color: rgba(85, 0, 0);
    font-size: 1rem;
}
.blog-text-black{
    color: grey;
}

.blog-red{
    color: rgb(160, 24, 24);
}
.pic-blog{
    width: 100%;
    max-width: 450px;
    margin : 0 auto;
    height: 355px;
    margin-bottom: 30px;
    display: block;

}
.blog-text-cs{
    font-size: 20px;
    font-weight: 500;
    color: rgba(85, 0, 0);
}
.post{
    padding: 20px;
    
}

.card-grid{
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .blog-text {
      font-size: 0.875rem; /* Adjust font size for smaller screens */
    }
  
    .pic-blog {
      max-width: 100%; /* Allow cards to take full width on small screens */
    }
  }